<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'scrumptious/css/main.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Scrumptious | Board</title>
</head>
<body>
    <!-- Navigation bar -->
    <div class="row nav">
        <div class="col-12">
            <a href="/"><h2>SCRUMPTIOUS</h2></a>
        </div>
    </div>
    <div class="board-container">
        <!-- Board content -->
        <div class="list">
            <div class="list-header">To Do</div>
            <ul>
                <li draggable="true" class="task">Task 1</li>
                <li draggable="true" class="task">Task 2</li>
                <li draggable="true" class="task">Task 3</li>
                <li class="task-add">+ Add a new task...</li>
            </ul>
        </div>

        <div class="list">
            <div class="list-header">In Progress</div>
            <ul id="parent">
                <li draggable="true" class="task parent">Task 1</li>
                <li draggable="true" class="task parent">Task 2</li>
                <li draggable="true" class="task parent">Task 3</li>
                <li draggable="true" class="task parent">Task 4</li>
                <li draggable="true" class="task parent">Task 5</li>
                <li class="task-add">+ Add a new task...</li>
            </ul>
        </div>

        <div class="list">
            <div class="list-header">In Progress</div>
            <ul>
                <li draggable="true" class="task">Task 1</li>
                <li draggable="true" class="task">Task 2</li>
                <li draggable="true" class="task">Task 3</li>
                <li draggable="true" class="task">Task 4</li>
                <li draggable="true" class="task">Task 5</li>
                <li class="task-add">+ Add a new task...</li>
            </ul>
        </div>

    </div>
    {% load static %}
    <script src="{% static 'scrumptious/js/board.js' %}"></script>
</body>
</html>