<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'scrumptious/css/main.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
    
    {% load static %}
    <script src="{% static 'scrumptious/js/touch-punch.js' %}"></script>
    
    <title>Scrumptious | Board</title>
</head>
<body>
    <!-- Navigation bar -->
    <div class="row nav">
        <div class="col-4 col-6-sm">
            <a href="/"><h2>SCRUMPTIOUS</h2></a>
        </div>
        <div class="col-4 sm-display-none"></div>
        <div class="col-4 col-6-sm align-right">
            <p>
                <!-- <a href="/add_list/{{ board.id }}">+</a> -->
                <a href="#">Notifications</a>
                <a href="#">Profile Icon</a>
            </p>
        </div>
    </div>
    <div class="board-container">

        <!-- Board content -->
        {% for list in lists %}
            <div class="list">
                <div class="list-header">{{ list.name }}</div>
                <ul id="sortable" class="connectedList">
                    {% for task in list.list_tasks.all %}
                        <li class="task">{{task.name}}</li>
                    {% endfor %}
                </ul>
                <div class="task-form">
                    <form action="/add_task" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="boardID" value="{{ board.id }}">
                        <input type="hidden" name="listID" value="{{ list.id }}">
                        <p>Name:</p>
                        <input type="text" name="name" id="" autocomplete="off">
                        <p>Description:</p>
                        <input type="text" name="desc" id="" autocomplete="off">
                        <input type="submit" class="btn btn-primary" value="Add task">
                    </form>
                    <button class="cancel-task-add">Cancel</button>
                </div>
                <button class="task-add">+ Add a new task...</button>
            </div>
        {% endfor %}

        <div class="add-list-container">
            <div class="list-form">
                <form action="/add_list" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="boardID" value="{{ board.id }}">
                    <p>Name:</p>
                    <input type="text" name="name" id="" autocomplete="off">
                    <input class="add-list" type="submit" value="Create list">
                </form>
                <button class="cancel-add-list">Cancel</button>
            </div>
            <button class="add-list">+ Add a new list...</button>
        </div>
        <!-- <div class="list">
            <div class="list-header">To Do</div>
            <ul id="sortable" class="connectedList">
                <li class="task">Item 1</li>
                <li class="task">Item 2</li>
                <li class="task">Item 3</li>
                <li class="task">Item 4</li>
                <li class="task">Item 5</li>
            </ul>
            <button class="task-add">+ Add a new task...</button>
        </div>
        
        <div class="list">
            <div class="list-header">In Progress</div>
            <ul id="sortable" class="connectedList">
                <li class="task">Item 1</li>
                <li class="task">Item 2</li>
                <li class="task">Item 3</li>
                <li class="task">Item 4</li>
                <li class="task">Item 5</li>
                <li class="task">Item 6</li>
                <li class="task">Item 7</li>
            </ul>
            <button class="task-add">+ Add a new task...</button>
        </div>

        <div class="list">
            <div class="list-header">Testing</div>
            <ul id="sortable" class="connectedList">
                <li class="task">Item 1</li>
                <li class="task">Item 2</li>
                <li class="task">Item 3</li>
                <li class="task">Item 4</li>
                <li class="task">Item 5</li>
            </ul>
            <button class="task-add">+ Add a new task...</button>
        </div>
        
        <div class="list">
            <div class="list-header">Completed</div>
            <ul id="sortable" class="connectedList">
                <li class="task">Item 1</li>
                <li class="task">Item 2</li>
                <li class="task">Item 3</li>
                <li class="task">Item 4</li>
            </ul>
            <button class="task-add">+ Add a new task...</button>
        </div> -->
    </div>

    <script>
        $(document).ready(function(){

            $("#sortable",".list").sortable({
                connectWith: ".connectedList",
                receive: function(event, ui) {
                    //called when moving between lists

                    //Update task list_id
                    console.log("Event triggered!")
                },
                update: function(event, ui) {
                    //called when moving items within list
                    
                    //Update database list positions
                    console.log("List updated")
                }
            });
            
            //Toggle list-add form
            $('.add-list').click(function(){
                $(this).closest('.add-list-container').children('.list-form').css("display","block");
                $(this).css("display","none");
            });
            
            $('.cancel-add-list').click(function() {
                $(this).closest('.add-list-container').children('.list-form').css("display","none");
                $(this).closest('.add-list-container').children('.add-list').css("display","block");
            });
            
            //Toggle task-add form
            $('.task-add').click(function(){
                $(this).closest('.list').children('.task-form').css("display","block");
                $(this).css("display","none");
            });
            
            $('.cancel-task-add').click(function() {
                $(this).closest('.list').children('.task-form').css("display","none");
                $(this).closest('.list').children('.task-add').css("display","block");
            });
        });
    </script>
    
</body>
</html>