<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'scrumptious/css/main.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
    
    {% load static %}
    <script src="{% static 'scrumptious/js/touch-punch.js' %}"></script>
    
    <title>Scrumptious | Board</title>
</head>
<body>
    <!-- Navigation bar -->
    <div class="row nav" id="board-nav">
        <div class="col-6 col-6-sm">
            <a href="/">
                <img src="{% static 'scrumptious/img/asset1.svg' %}" alt="" id="nav-logo">
                <img class="sm-display-none"src="{% static 'scrumptious/img/asset2.svg' %}" alt="" id="nav-logo-text">
            </a>
        </div>
        <div class="col-6 col-6-sm align-right">
                <!-- <a href="/add_list/{{ board.id }}">+</a> -->
                <a href="#">Notifications</a> | 
                <a href="/profile">Profile</a>
        </div>
    </div>
    <div class="board-container scrolling-wrapper">

        <!-- Board content -->
        <!-- <div id="sortable" class="list-container">
            <ul >
                <li> -->

                    {% for list in lists %}
                        <div id="sortable" class="list">
                            <div class="list-header">{{ list.name }}</div>
                            <ul id="sortable" class="connectedList" data-list="{{ list.id }}">
                                {% for task in list.list_tasks.all|dictsort:"order" %}
                                    <li class="task" data-index="{{ task.id }}" data-order="{{ task.order }}" >
                                        <div class="row">
                                            <div class="col-8"><p>{{task.name}}</p></div>
                                            <div class="col-4"><span class="edit-task float-right" task-id="{{ task.id }}" board-id="{{ board.id }}">edit</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                {% if task.task_comments.count > 0 %}
                                                    <span class="edit-task align-left" task-id="{{ task.id }}" board-id="{{ board.id }}">{{ task.task_comments.count }} Comments</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="task-form">
                                <form action="/add_task" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="boardID" value="{{ board.id }}">
                                    <input type="hidden" name="listID" value="{{ list.id }}">
                                    <p>Name:</p>
                                    <input type="text" name="name" id="" autocomplete="off">
                                    <p>Description:</p>
                                    <input type="text" name="desc" id="" autocomplete="off">
                                    <input type="submit" class="confirm-task-add" value="Add task">
                                </form>
                                <button class="cancel-task-add">Cancel</button>
                            </div>
                            <button class="task-add">+ Add a new task...</button>
                        </div>
                    {% endfor %}
            
                    <div class="add-list-container">
                        <div class="list-form">
                            <form action="/add_list" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="boardID" value="{{ board.id }}">
                                <p>Name:</p>
                                <input type="text" name="name" id="" autocomplete="off">
                                <input class="add-list" type="submit" value="Create list">
                            </form>
                            <button class="cancel-add-list">Cancel</button>
                        </div>
                        <button class="add-list">+ Add a new list...</button>
                    </div>

                    
                    
                <!-- </li>
            </ul>
        </div> -->
    </div>
    <div id="modal-container"></div>

    <script>
        $(document).ready(function(){

            //Sortable lists
            // $("list-container").sortable({
            //     update: function(event, ui) {

            //     }
            // });
            
            //Sortable Tasks between lists
            $("#sortable",".list").sortable({
                connectWith: ".connectedList",
                helper: ".task",
                placeholder: "indicator",
                delay: 150,
                receive: function(event, ui) {
                    //called when moving between lists

                    $(this).children('li').each(function(index) {
                        // if ($(this).attr("data-order") != index) {
                            $(this).attr("data-order", index+1).addClass("updated")
                        // }
                    });

                    saveNewOrder();
                    console.log("Event triggered!")
                },
                update: function(event, ui) {
                    $(this).children('li').each(function(index) {
                        // if ($(this).attr("data-order") != index) {
                            $(this).attr("data-order", index+1).addClass("updated")
                        // }
                    });

                    saveNewOrder();
                    console.log("List updated")
                }
            });
            
            //Toggle list-add form
            $('.add-list').click(function(){
                $(this).closest('.add-list-container').children('.list-form').css("display","block");
                $(this).css("display","none");
            });
            
            $('.cancel-add-list').click(function() {
                $(this).closest('.add-list-container').children('.list-form').css("display","none");
                $(this).closest('.add-list-container').children('.add-list').css("display","block");
            });
            
            //Toggle task-add form
            $('.task-add').click(function(){
                $(this).closest('.list').children('.task-form').css("display","block");
                $(this).css("display","none");
            });
            
            $('.cancel-task-add').click(function() {
                $(this).closest('.list').children('.task-form').css("display","none");
                $(this).closest('.list').children('.task-add').css("display","block");
            });

            //Modal toggle
            $('.edit-task').click(function() {
                
                //Get task id
                id      = $(this).attr('task-id');
                boardID = $(this).attr('board-id')

                //Set hidden input id to task id
                // $('#taskID').val(id);
                getTaskForModal()

            });
            
            //Hide modal on click X or click off modal-content
            $(document).on('click', function(e) {
                // console.log("clicked")
                target = $(e.target)
                // $('.edit-task-modal').click(function(e){
                //     console.log($(e.target))
                //     $(this).closest('.edit-task-modal').css("display","none");
                // });

                if(target[0]["className"] == 'edit-task-close-btn' || target[0]["className"] == 'edit-task-modal') {
                    $('.edit-task-close-btn').closest('.edit-task-modal').css("display","none");
                }

                //Add comment
                if(target[0]["id"] == 'post-comment') {

                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/add_comment",
                        data: $("#post-comment-form").serialize(), // serializes the form's elements.
                        success: function(response){
                            console.log("got response from server")
                            $('#modal-container').html(response);
                            
                            //Show Modal
                            $('.edit-task-modal').css("display","block");

                            }
                        });
                    // avoid to execute the actual submit of the form.
                    console.log("got here")
                    return false;
                }

                
                //Delete comment
                if(target[0]["className"] == 'delete-comment') {

                    console.log("deleting comment")
                    let boardID     = $(".delete-comment").attr("board-id")
                    let taskID      = $(".delete-comment").attr("task-id")
                    let commentID   = $(".delete-comment").attr("comment-id")

                    $.ajax({
                        type:"GET",
                        url:"/delete_comment",
                        dataType: 'text',
                        data: {
                            board: boardID,
                            task: taskID,
                            comment: commentID
                        },
                        success: function(response) {
                            console.log("comment was deleted")

                            // add modal template to modal container
                            $('#modal-container').html(response);
                            
                            //Show Modal
                            $('.edit-task-modal').css("display","block");

                            }
                        });

                    // avoid to execute the actual submit of the form.
                    e.preventDefault();
                    return false;
                }
            });
            
        });
        
        function saveNewOrder() {
            let order = [];
            $(".updated").each(function() {
                order.push([$(this).attr('data-index'), $(this).attr('data-order'), $(this).parent('ul').attr('data-list')]);
                $(this).removeClass('updated');
            });
            console.log(order);
            $.ajax({
                url: "/updateList",
                method: "POST",
                dataType: 'json',
                data: JSON.stringify({
                    update: 1,
                    data: order
                }), success: function(response) {
                    console.log(response);
                }
            });
        }

        function getTaskForModal() {
            $.ajax({
                url: "/getModalData",
                method: "GET",
                dataType: 'text',
                data: {
                    task: id,
                    board: boardID
                },
                    success: function(response) {
                        console.log("got template back");
                        $('#modal-container').html(response);

                        //Show Modal
                        $('.edit-task-modal').css("display","block");
                    }
            });
        }
        
    </script>
    
</body>
</html>