<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'scrumptious/css/main.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Scrumptious</title>
</head>
<body>
    <!-- Navigation bar -->
    <div class="row nav">
        <div class="container">
            <div class="col-6">
                <h2>SCRUMPTIOUS</h2>
            </div>
            <div class="col-6 align-right">
                <a href="/login"><button class="btn btn-primary">Login</button></a>
                <a href="/register"><button class="btn btn-secondary">Register</button></a>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Content Section Main -->
        <div class="row">
            <div class="content content-light col-6">
                <h3>Lorem</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam non, rem laudantium repellendus aspernatur officia! Recusandae esse autem nobis cupiditate tempora repellendus consectetur. Voluptatum, quisquam doloremque quibusdam totam cupiditate sequi.Ab fugit animi hic, voluptate asperiores delectus molestiae nesciunt maxime cupiditate quo reiciendis facilis ut tempora perspiciatis error exercitationem inventore id enim placeat nemo consequatur qui. Explicabo illum nostrum minus!</p>
            </div>
            <div class="content content-light col-6">
                <h3>Lorem</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam non, rem laudantium repellendus aspernatur officia! Recusandae esse autem nobis cupiditate tempora repellendus consectetur. Voluptatum, quisquam doloremque quibusdam totam cupiditate sequi.Ab fugit animi hic, voluptate asperiores delectus molestiae nesciunt maxime cupiditate quo reiciendis facilis ut tempora perspiciatis error exercitationem inventore id enim placeat nemo consequatur qui. Explicabo illum nostrum minus!</p>
            </div>
        </div>
    </div>
</body>
</html>