<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'scrumptious/css/main.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
    <title>Scrumptious | Register</title>
</head>
<body>
    <!-- Navigation bar -->
    <div class="row nav">
        <div class="container">
            <a href="/">
                <img src="{% static 'scrumptious/img/asset1.svg' %}" alt="" id="nav-logo">
                <img class="sm-display-none"src="{% static 'scrumptious/img/asset2.svg' %}" alt="" id="nav-logo-text">
            </a>
        </div>
    </div>
    <div class="container" id="login-container">
        <!-- Content Section Main -->
        <div class="row">
            <div class="col-3 sm-display-none"></div>
            <div class="content content-light col-6 col-12-sm align-center">
                <h1 class="align-center">Login</h1>
                <form action="/login_user" method="post" id="login-form">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <td class="align-left"><p>Email</p></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="email" id=""></td>
                        </tr>
                        <tr>
                            <td class="align-left"><p>Password</p></td>
                        </tr>
                        <tr>
                            <td><input type="password" name="password" id=""></td>
                        </tr>
                    </table>
                    <p><a href="/register" id="register-link">Don't have an account? Register here</a></p>
                    <input class="btn btn-secondary" type="submit" value="Login">
                </form>
            </div>
            <div class="col-3 sm-display-none"></div>
        </div>
    </div>
    <script src="{% static 'scrumptious/js/anime.min.js'%}"></script>
    <script>
        $(document).ready(function(){
            $(".btn").hover(
            function() {
                anime.remove(this)
                var cssSelector = anime({
                    targets: this,
                    scaleY: 1.2,
                    duration: 1000,
                    elasticity: 700
                })
            },
            function() {
                anime.remove(this)
                var cssSelector = anime({
                    targets: this,
                    scaleY: 1,
                    duration: 500
                })
            });
        });
    </script>
</body>
</html>