<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'scrumptious/css/main.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Scrumptious | Register</title>
</head>
<body>
    <!-- Navigation bar -->
    <div class="row nav">
        <div class="container">
            <a href="/">
                <img src="{% static 'scrumptious/img/asset1.svg' %}" alt="" id="nav-logo">
                <img class="sm-display-none"src="{% static 'scrumptious/img/asset2.svg' %}" alt="" id="nav-logo-text">
            </a>
        </div>
    </div>
    <div class="container">
        <!-- Content Section Main -->
        <div class="row">
            <div class="col-3 sm-display-none"></div>
            <div class="content content-light col-6 col-12-sm align-center">
                <h1 class="align-center">Login</h1>
                <form action="/login_user" method="post" id="login-form">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <td class="align-left"><p>Email</p></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="email" id=""></td>
                        </tr>
                        <tr>
                            <td class="align-left"><p>Password</p></td>
                        </tr>
                        <tr>
                            <td><input type="password" name="password" id=""></td>
                        </tr>
                    </table>
                    <p><a href="/register" id="register-link">Don't have an account? Register here</a></p>
                    <input class="btn btn-secondary" type="submit" value="Login">
                </form>
            </div>
            <div class="col-3 sm-display-none"></div>
        </div>
    </div>
</body>
</html>