<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'scrumptious/css/main.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
    
    {% load static %}
    <script src="{% static 'scrumptious/js/touch-punch.js' %}"></script>
    <title>Scrumptious | Projects</title>
</head>
<body>
    <!-- Navigation bar -->
    <div class="row nav">
        <div class="container">
            <div class="col-6">
                <a href="/">
                    <img src="{% static 'scrumptious/img/asset1.svg' %}" alt="" id="nav-logo">
                    <img class="sm-display-none"src="{% static 'scrumptious/img/asset2.svg' %}" alt="" id="nav-logo-text">
                </a>
            </div>
            <div class="col-6 align-right">
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Content Section Main -->
        <div class="row">
            <div class="col-2 col-12-sm align-right">
                <ul class="side-nav">
                    <li><a href="/profile">Home</a></li>
                    <li><a href="/projects">Boards</a></li>
                    <li><a href="#">Teams</a></li>
                </ul>
            </div>
            <div class="col-8 col-12-sm content content-light">
                <!-- Personal Boards -->
                <div class="row">
                    <h1>Projects</h1>
                    <h2>Boards</h2>
                </div>
                <div class="row">
                    {% for board in boards %}
                    <div class="col-3 col-6-sm projects-board-container">
                        <a href="/board/{{ board.id }}" class="projects-board">{{ board.name }}</a>
                    </div>
                    {% endfor %}
                    <div class="col-3 col-6-sm projects-board-container">
                        <button class="projects-board-add">+</button>
                        <div class="project-form">
                            <form action="/create_board" method="post">
                                {% csrf_token %}
                                <input type="text" name="name" class="board-name-input" autocomplete="off">
                                <div class="row">
                                    <div class="col-10"><input type="submit" value="Create" class="btn btn-primary"></div>
                                    <div class="col-2"><div class="project-add-cancel btn btn-secondary">X</div></div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-2 sm-display-none"></div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            console.log("loaded")
            //Toggle board creation form
            $('.projects-board-add').click(function() {
                console.log('was clicked')
                $(this).closest('.projects-board-container').children('.project-form').css("display","block");
                $(this).css("display","none");
            });

            $('.project-add-cancel').click(function(){
                $(this).closest('.projects-board-container').children('.projects-board-add').css('display','block');
                $(this).closest('.projects-board-container').children('.project-form').css('display','none');
            });
        });
    </script>
</body>
</html>