<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'scrumptious/css/main.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Scrumptious | Register</title>
</head>
<body>
    <!-- Navigation bar -->
    <div class="row nav">
        <div class="container">
            <a href="/">
                <img src="{% static 'scrumptious/img/asset1.svg' %}" alt="" id="nav-logo">
                <img class="sm-display-none"src="{% static 'scrumptious/img/asset2.svg' %}" alt="" id="nav-logo-text">
            </a>
        </div>
    </div>
    <div class="container">
        <!-- Content Section Main -->
        <div class="row">
            <div class="col-3 sm-display-none"></div>
            <div class="content content-light col-6 col-12-sm align-center">
                <h1 class="align-center">Create a new account</h1>
                <!-- flash messages -->
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "registration error" %}
                            <p class="error">
                                {{ message }}
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <form action="/register_user" method="post" id="registration-form">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <td  class="align-left"><p>First Name</p></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="first_name" id=""></td>
                        </tr>
                        <tr>
                            <td  class="align-left"><p>Last Name</p></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="last_name" id=""></td>
                        </tr>
                        <tr>
                            <td class="align-left"><p>Email</p></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="email" id=""></td>
                        </tr>
                        <tr>
                            <td class="align-left"><p>Password</p></td>
                        </tr>
                        <tr>
                            <td><input type="password" name="password" id=""></td>
                        </tr>
                        <tr>
                            <td class="align-left"><p>Confirm Password</p></td>
                        </tr>
                        <tr>
                            <td><input type="password" name="password_confirm" id=""></td>
                        </tr>
                    </table>
                    <p class="align-left"><a href="/login" id="login-link">Already have an account? Login here</a></p>
                    <input class="btn btn-secondary" type="submit" value="Create new account">
                </form>
            </div>
            <div class="col-3 sm-display-none"></div>
        </div>
    </div>
</body>
</html>