* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.btn {
  margin: auto 4px;
  padding: 5px 10px;
  font-size: 12pt;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 2px 4px #222;
}
.btn:hover {
  position: relative;
  top: -2px;
  box-shadow: 0px 4px 4px #222;
}
.btn-primary {
  background-color: #009688;
  color: white;
}
.btn-secondary {
  background-color: #673ab7;
  color: white;
}
h2 {
  font-size: 16pt;
}
input[type=text] {
  padding-left: 10px;
  border: 2px solid #c7c7c7;
  border-radius: 4px;
}
input[type=password] {
  padding-left: 10px;
  border: 2px solid #c7c7c7;
  border-radius: 4px;
}
.container {
  margin: 0 auto;
  max-width: 960px;
  font-size: 0;
}
.container h1 {
  margin: 15px auto;
  font-size: 20pt;
}
.container h2 {
  font-size: 16pt;
}
.container h3 {
  font-size: 14pt;
}
.container h4 {
  font-size: 12pt;
}
.row {
  width: 100%;
  font-size: 0;
}
p {
  margin: 10px auto;
  line-height: 24px;
  font-size: 11pt;
}
.col-12 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
}
.col-11 {
  display: inline-block;
  vertical-align: top;
  width: 91.66%;
  height: 100%;
}
.col-10 {
  display: inline-block;
  vertical-align: top;
  width: 83.33%;
  height: 100%;
}
.col-9 {
  display: inline-block;
  vertical-align: top;
  width: 75%;
  height: 100%;
}
.col-8 {
  display: inline-block;
  vertical-align: top;
  width: 66.66%;
  height: 100%;
}
.col-6 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
}
.col-5 {
  display: inline-block;
  vertical-align: top;
  width: 41.66%;
  height: 100%;
}
.col-4 {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  height: 100%;
}
.col-3 {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 100%;
}
.col-2 {
  display: inline-block;
  vertical-align: top;
  width: 16.66%;
  height: 100%;
}
.col-1 {
  display: inline-block;
  vertical-align: top;
  width: 8.33%;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .col-12-sm {
    width: 100%;
  }
  .col-6-sm {
    width: 50%;
  }
  .col-4-sm {
    width: 25%;
  }
  .col-3-sm {
    width: 33.33%;
  }
  .col-2-sm {
    width: 16.66%;
  }
  .sm-display-none {
    display: none;
  }
}
.content {
  padding: 20px;
  z-index: 0;
  height: 100%;
  font-size: 10pt;
}
.content-light {
  background-color: #fafafa;
}
.content-dark-primary {
  background-color: #009688;
  color: white;
}
.content-dark-secondary {
  background-color: #673ab7;
  color: white;
}
.content-warm {
  background-color: #ffd54f;
}
#polygon1 {
  position: absolute;
  z-index: 5;
  top: 0;
  left: -480px;
}
#content-section-1 {
  z-index: 6;
}
#content-section-1 h1 {
  color: white;
}
.error {
  text-align: left;
  color: red;
  font-size: 12pt;
  padding: 10px 20px;
}
.nav {
  line-height: 60px;
  z-index: 10;
  width: 100%;
  height: 60px;
  color: white;
  background-color: #333;
  box-shadow: 0px 2px 4px #222;
}
.nav a {
  margin: auto 10px;
  color: white;
  text-decoration: none;
  font-size: 14pt;
  height: 100%;
}
.nav p {
  margin: 0 auto;
  font-size: 14pt;
  height: 100%;
}
.nav form {
  display: inline;
}
.nav .btn {
  margin: 0;
  height: 40px;
}
#nav-logo {
  margin-top: 10px;
  height: 40px;
}
#nav-logo-text {
  margin-left: 10px;
  top: -6px;
  height: 24px;
}
#board-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  color: white;
  background-color: #333;
  box-shadow: 0px 2px 4px #222;
}
#board-nav a {
  color: white;
  text-decoration: none;
  font-size: 14pt;
  height: 100%;
}
#board-nav p {
  margin: 0 auto;
  font-size: 14pt;
  height: 100%;
}
#board-nav form {
  display: inline;
}
.side-nav {
  flex-grow: 1;
  margin: 35px 10px auto auto;
  height: 100%;
  font-size: 14pt;
}
@media only screen and (max-width: 600px) {
  .side-nav {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
}
.side-nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.side-nav li {
  list-style: none;
}
@media only screen and (max-width: 600px) {
  .side-nav li {
    display: flex;
    padding: 10px 15px;
  }
}
.side-nav li a {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 600px) {
  .side-nav li a {
    color: white;
  }
}
.table {
  margin: 0;
  width: 100%;
}
input {
  margin: 10px auto;
  height: 40px;
  width: 100%;
  font-size: 12pt;
  border-radius: 4px;
  border: 2px solid #F0F0F0;
}
#login-form input[type=submit] {
  margin: 10px auto;
}
#register-link {
  margin: 10px auto;
  color: #673ab7;
}
#register-link:hover {
  color: #009688;
}
#registration-form input[type=submit] {
  margin: 10px auto;
}
#login-link {
  margin: 10px auto;
  color: #673ab7;
}
#login-link:hover {
  color: #009688;
}
.projects-board-container {
  padding: 5px 5px 0 0;
}
.projects-board {
  display: inline-block;
  padding: 10px;
  background-color: #009688;
  width: 100%;
  height: 100px;
  border-radius: 4px;
  color: white;
  font-size: 16pt;
  vertical-align: top;
  text-overflow: ellipsis;
  transition: background-color 0.33s ease;
  text-decoration: none;
  font-weight: bold;
}
.projects-board:hover {
  background-color: #4db6ac;
}
.projects-board .project-add-cancel {
  font-size: 16pt;
  background-color: #673ab7;
}
.projects-board-add {
  display: inline-block;
  padding: 10px;
  width: 100%;
  height: 100px;
  vertical-align: top;
  background-color: #999;
  color: white;
  font-size: 20pt;
  text-align: center;
  line-height: 80px;
  border-radius: 4px;
  transition: background-color 0.33s ease;
}
.projects-board-add:hover {
  background-color: #bbbbbb;
}
.project-form {
  display: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
.project-form .board-name-input {
  margin-top: 0;
  width: 100%;
}
.project-form .btn {
  display: inline-block;
  margin: 10px 0;
  box-shadow: none;
}
.project-form .btn-primary {
  width: 95%;
}
.project-form .btn-primary {
  display: inline;
}
.project-form .project-add-cancel {
  display: inline-block;
  padding: 10px;
}
.board-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
  width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
}
@media only screen and (max-width: 600px) {
  .board-container {
    text-align: center;
  }
}
.list {
  display: inline-block;
  vertical-align: top;
  margin: 20px 0 20px 20px;
  padding: 10px;
  padding-bottom: 10px;
  width: 320px;
  min-height: 80px;
  text-align: left;
  background-color: #fafafa;
  box-shadow: 0px 2px 4px #222;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.list ul {
  list-style-type: none;
  min-height: 40px;
}
@media only screen and (max-width: 600px) {
  .list {
    margin: 20px auto 20px auto;
    width: 90%;
  }
}
.list p {
  margin: 0;
}
.list .edit-link {
  float: right;
  font-size: 12pt;
}
.list-header {
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 16pt;
  font-weight: 600;
  border-top-right-radius: 4px;
}
.add-list-container {
  display: inline-block;
  vertical-align: top;
  margin: 20px 0 20px 20px;
  width: 320px;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .add-list-container {
    margin: 20px auto 20px auto;
    width: 90%;
  }
}
.add-list-container p {
  margin: 5px;
}
.add-list {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 45px;
  color: white;
  font-size: 14pt;
  background-color: #009688;
  border-radius: 4px;
  box-shadow: 0px 2px 4px #222;
  border: none;
}
.list-form {
  display: none;
}
.cancel-add-list {
  margin: 10px auto;
  padding: 10px;
  width: 50%;
  height: 45px;
  color: white;
  font-size: 14pt;
  background-color: #673ab7;
  border-radius: 4px;
  box-shadow: 0px 2px 4px #222;
  border: none;
}
.task {
  margin: 10px 0;
  padding: 10px;
  min-height: 60px;
  background-color: #e0e0e0;
  border-radius: 4px;
}
.task .edit-task {
  font-size: 12pt;
}
.task-add {
  display: block;
  margin: 10px 0;
  padding: auto 10px auto 10px;
  width: 100%;
  background-color: #009688;
  color: white;
  border-radius: 4px;
  font-size: 12pt;
  line-height: 40px;
  border: none;
  box-shadow: 0px 2px 4px #222;
}
.task-form {
  display: none;
  margin: 10px;
}
.confirm-task-add {
  display: block;
  margin: 10px 0;
  padding: auto 10px auto 10px;
  width: 100%;
  background-color: #009688;
  color: white;
  border-radius: 4px;
  font-size: 12pt;
  line-height: 40px;
  border: none;
  box-shadow: 0px 2px 4px #222;
}
.cancel-task-add {
  display: block;
  margin: 10px 0;
  padding: auto 10px auto 10px;
  width: 50%;
  background-color: #673ab7;
  color: white;
  border-radius: 4px;
  font-size: 12pt;
  line-height: 40px;
  border: none;
  box-shadow: 0px 2px 4px #222;
}
.held {
  transform: rotate(-5deg);
}
.indicator {
  margin: 10px 0;
  width: 100%;
  min-height: 60px;
  background-color: #616d6e;
}
.edit-task-modal {
  position: fixed;
  display: block;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.edit-task-modal-content {
  position: fixed;
  overflow-y: scroll;
  max-height: 80vh;
  z-index: 20;
  top: 40px;
  left: 50%;
  margin-left: -240px;
  padding: 20px;
  width: 480px;
  background-color: #fafafa;
}
@media only screen and (max-width: 600px) {
  .edit-task-modal-content {
    position: relative;
    top: 50px;
    left: 0;
    width: 95%;
  }
}
.edit-task-modal-content .edit-task-close-btn {
  width: 40px;
  height: 40px;
  z-index: 30;
  float: right;
  text-align: center;
  font-size: 12pt;
  line-height: 40px;
  background-color: #673ab7;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 4px #222;
}
.edit-task-modal-content input[type=submit] {
  display: block;
  margin: 10px 0;
  width: 25%;
  border-radius: 4px;
}
@media only screen and (max-width: 600px) {
  .edit-task-modal-content input[type=submit] {
    width: 100%;
  }
}
.edit-task-modal-content input[type=button] {
  display: block;
  margin: 10px 0;
  width: 25%;
  border-radius: 4px;
}
@media only screen and (max-width: 600px) {
  .edit-task-modal-content input[type=button] {
    width: 100%;
  }
}
.edit-task-modal-content textarea {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  resize: none;
  border: 2px solid #c7c7c7;
  border-radius: 4px;
}
.edit-task-modal-content h3 {
  margin: 10px auto;
}
.edit-task-modal-content h4 {
  margin: 10px auto;
}
.edit-task-modal-content .delete-comment {
  text-decoration: underline;
  color: #673ab7;
}
.edit-task-modal-content .delete-comment:hover {
  color: #009688;
}
.scrolling-wrapper {
  scroll-snap-points-x: repeat(100vw);
  scroll-snap-type: mandatory;
}
@media only screen and (max-width: 600px) {
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}
@media only screen and (max-width: 600px) {
  .scrolling-wrapper .list {
    margin: 10px 10px 0 0;
    width: 100vw;
  }
}
#user-details table {
  margin-bottom: 10px;
}
#user-details td {
  padding: 10px;
  font-size: 14pt;
  border-bottom: 2px solid #c7c7c7;
}
#user-details a {
  margin-left: 10px;
  font-size: 12pt;
  color: #673ab7;
  text-decoration: none;
}
#user-details a:hover {
  color: #009688;
}
#user-boards h2 {
  margin: 15px auto;
}
#user-boards ul {
  list-style-type: none;
}
#user-boards a {
  margin: 10px auto;
  color: black;
  text-decoration: none;
  font-size: 14pt;
}
#user-boards a:hover {
  color: #009688;
}
